.movieRow {
    margin-bottom: 2.5rem;
}

.movieRow h2 {
    margin: 0px 0px 0px 1.5rem;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 1.5rem;
}

.movieRow--list {
    transition: all ease 0.3s;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
    border-radius: 3px;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left, 
.movieRow--right {
    position: absolute;
    width: 2.5rem;
    height: 13.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.4s;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}

.movieRow--left {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.movieRow--right {
    right: 0;
    border-radius: 5px 0 0 5px;
}

@media (max-width: 760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }

    .movieRow {
        margin-top: 2.5rem;
    }
}